<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>m4lxn-cloudX - Home</title>
    <link rel="stylesheet" href="/assets/home/css/.css">
    <link rel="stylesheet" href="/assets/general/css/general.css">
    <link rel="icon" href="/assets/img/icon.jpg">
    <script src="/assets/home/js/"></script>
    <script src="/assets/general/js/general.js"></script>
    <script src="/assets/general/js/copyrightdata.js"></script>
</head>
<body>
    <div class="head">
        <div class="headcontainer">
            <header class="site-header">
                <h1>m4lxn-cloudX&nbsp;&nbsp;|&nbsp;&nbsp;Home</h1>
                <nav class="nav-menu">
                    <a href="/base/about/">About</a>
                    <a href="/base/projects/">Projects</a>
                    <a href="/base/contact/">Contact</a>
                </nav>
            </header>
        </div>
    </div>
    <div class="main">
        <div class="maincontainer"></div>
        </div>
    </div>
    <div class="foot">
        <div class="footercontainer">
            <a class="foothover white" href="https://www.githubstatus.com/">Server Status</a><a> • </a>
            <a class="foothover white" href="/legal/privacy-policy/">Privacy Policy</a><a> • </a>
            <a class="foothover white" href="/legal/terms-of-service/">Terms of Use</a><a> • </a>
            <a class="foothover white" href="https://docs.github.com/de/site-policy/privacy-policies/github-general-privacy-statement">GitHub Privacy Policy</a><br><br>
            <a>&copy; <a id="copyright"></a> <a class="foothover white" href="https://github.com/m4lxn-cloudX">m4lxn-cloudX</a> / All rights reserved.</a>
            <a class="bold">Made with ❤️ in </a><a class="black bold">GE</a><a class="red bold">RMA</a><a class="yellow bold">NY</a>
        </div>
    </div>
</body>
</html>